<a href="https://colab.research.google.com/github/theoaf/Data-Pipelining/blob/master/ConversionDataExtraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
pandas.DataFrame()

Empty DataFrame
Columns: []
Index: []